<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Text Box</title>
    </head>
    <body>
        <h1>
            I campi con asterisco sono obbligatori
        </h1>
        <form action="/textBox/">
            column: <input name="column" type="text" placeholder="inserisci la label della colonna che vuoi visualizzare">
            <br>
            *table: <input name="table" type="text" placeholder="inserisci la tabella su cui lavorare">
            <input type="submit" value="submit">
        </form>
    </body>
</html>